/* aboout.css */
/* About Section */
.about {
    background: var(--card-bg-light);
    border-radius: 20px;
    padding: 5rem;
    margin: 2rem 0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 3rem;
    align-items: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
    position: relative;
}

.about h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background: var(--title-underline);

    animation: expandLine 0.8s ease-out forwards;
}

@keyframes expandLine {
  from { width: 0; }
  to { width: 80px; }
}

.about p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: var(--text-light);
}


/* Download Button */
/* .download-btn { 
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: var(--secondary);
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.download-btn:hover {
    background: var(--sec-hover);
    transform: translateY(-2px);
        box-shadow: 0 10px 25px rgba(52, 152, 219, 0.3);
} */

/* here if you want above design just rename class in about section download-btn */






/* About Picture */
.about-pic {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
/* About Picture Image */
.about-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    transition: transform 0.6s ease;
}
/* Overlay effect */
.about-pic::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.15);
    /* backdrop-filter: blur(0px); */
    opacity: 0;
    transition: opacity 0.4s ease;
     pointer-events: none;
}
/* Shine sweep */
.about-pic::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 50%;
    height: 200%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.35),
        transparent);
    transform: rotate(25deg);
    transition: left 0.6s ease;
    z-index: 2; 
} 
.about-pic:hover {
    transform: translateY(-8px);
    box-shadow: 0 30px 60px rgba(0,0,0,0.25);
}

.about-pic:hover img {
    transform: scale(1.08);
}

.about-pic:hover::before {
    opacity: 1;
}

.about-pic:hover::after {
    left: 120%;
}
/* body.dark .about-pic::after {
    background: rgba(255, 255, 255, 0.06);
} */








